<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="title='System Setting',active='settings'">
<header th:replace="admin/header::headerFragment(${title},${active})"></header>
<link th:href="@{/admin/plugins/toggles/toggles.css}" rel="stylesheet"/>
<div class="bgpicture">
<body class="fixed-left">
<div id="wrapper">
    <div th:replace="admin/header::header-body"></div>
    <div class="content-page">
        <div class="content">
            <div class="container"  style="opacity:0.9">
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="page-title">System Setting</h4>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-color panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Global Setting</h3>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal" role="form" id="global-form">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Blog Name</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="site_title" placeholder="Blog Name"
                                                   th:value="${options.site_title}" required="required" aria-required="true"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Blog description</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="site_description" placeholder="Blog description"
                                                   th:value="${options.site_description}" required="required" aria-required="true"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">The ICP registration numbe</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="site_record" placeholder="The ICP registration numbe"
                                                   th:value="${options.site_record}" required="required" aria-required="true"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Blog theme</label>
                                        <div class="col-md-9">
                                            <select name="site_theme" class="form-control">
                                                <option value="default" th:selected="${options.site_theme=='default'}?true:false">Default theme</option>
                                            </select>
                                        </div>
                                    </div>

                                    <input type="hidden" name="allow_install" id="allow_install"/>
                                    <div class="clearfix pull-right">
                                        <button type="button" class="btn btn-primary waves-effect waves-light" onclick="saveSetting()">
                                            Save
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-color panel-inverse">
                            <div class="panel-heading">
                                <h3 class="panel-title">Personalized Setting</h3>
                            </div>
                            <div class="panel-body">
                                <form id="indivi-form" class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Sina weibo</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="social_weibo" th:value="${options.social_weibo}"
                                                   placeholder="No input, no display"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Zhihu</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="social_zhihu" th:value="${options.social_zhihu}"
                                                   placeholder="No input, no display"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Github</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="social_github"
                                                   th:value="${options.social_github}" placeholder="No input, no display"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Twitter</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="social_twitter"
                                                   th:value="${options.social_twitter}" placeholder="No input, no display"/>
                                        </div>
                                    </div>
                                    <div class="clearfix pull-right">
                                        <button type="button" class="btn btn-inverse waves-effect waves-light"
                                                onclick="saveIndiviSetting()">
                                            Save
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="col-md-6">
                        <div class="panel panel-color panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">System backup (backup files contain attachments and topics)</h3>
                            </div>
                            <div class="panel-body">
                                <form id="backupForm" class="form-inline" role="form">
                                    <!--<div class="form-group">
                                        <label class="sr-only">备份格式</label>
                                        <input name="url" class="form-control" placeholder="请输入备份文件格式，如yyyy-MM-dd" required="" aria-required="true" type="url">
                                    </div>-->
                                    <div class="form-group col-md-6">
                                        <input id="backup_dir" style="width: 100%;" class="form-control" placeholder="Please enter the disk path for backup storage" required="" aria-required="true" type="text"/>
                                    </div>

                                    <button type="button" class="btn btn-success waves-effect waves-light m-l-10" onclick="backup('attach');">Backup file</button>
                                    <button type="button" class="btn btn-danger waves-effect waves-light m-l-10" onclick="backup('db')">Export database</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
                <div th:replace="admin/footer :: footer-content"></div>
            </div>
        </div>
    </div>
</div>
<div th:replace="admin/footer :: footer"></div>
<script th:src="@{/admin/js/toggles.min.js}"></script>
<script type="text/javascript">
    /*<![CDATA[*/
    var tale = new $.tale();

    /**
     * 保存全局设置
     */
    function saveSetting() {
        var param = $('#global-form').serialize();
        tale.post({
            url : '/admin/setting',
            data: param,
            success: function (result) {
                if(result && result.success){
                    tale.alertOk('Save successfully');
                } else {
                    tale.alertError(result.msg || 'Save failed');
                }
            }
        });
    }

    /**
     * 保存个性化设置
     */
    function saveIndiviSetting() {
        var param = $('#indivi-form').serialize();
        tale.post({
            url : '/admin/setting',
            data: param,
            success: function (result) {
                if(result && result.success){
                    tale.alertOk('Save successfully');
                } else {
                    tale.alertError(result.msg || 'Save failed');
                }
            }
        });
    }
    /**
     * 设置是否允许重新安装
     */
    function allow_reinstall(obj) {
        var this_ = $(obj);
        var on = this_.find('.toggle-on.active').length;
        var off = this_.find('.toggle-off.active').length;
        if (on == 1) {
            $('#allow_install').val(0);
        }
        if (off == 1) {
            $('#allow_install').val(1);
        }
    }

    /**
     * 系统备份
     * @param type
     */
    function backup(type) {
        var param = {
            bk_type: type,
            bk_path: $('#backup_dir').val()
        };
        tale.post({
            url : '/admin/setting/backup',
            data: param,
            success: function (result) {
                if(result && result.success){
                    if(result.payload && result.payload.attach_path){
                        swal('Backup successfully', 'Backup URL in  <mark>'+ result.payload.attach_path +'</mark><br/><br/>' +
                            '主题备份存储在 <mark>'+ result.payload.theme_path +'</mark>', 'success');
                        $('#backup_dir').val('');
                    }
                    if(result.payload.sql_path){
                        window.location.href = '/upload/' + result.payload.sql_path;
                    }
                } else {
                    tale.alertError(result.msg || 'Backup failed');
                }
            }
        });
    }

    $('.allow-1').toggles({
        on: true,
        text: {
            on: 'Open',
            off: 'Close'
        }
    });
    $('.allow-0').toggles({
        off: true,
        text: {
            on: 'Open',
            off: 'Close'
        }
    });
    /*]]>*/
</script>
</body>
</div>
</html>