<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="header(title,keywords)">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <meta name="renderer" content="webkit"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-transform"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="keywords" th:content="${keywords ?: commons.site_option('site_keywords')}"/>
    <meta name="description" th:content="${description ?:commons.site_option('site_description')}"/>
    <title><th:block th:text="${title ?: '首页'}+' - '+${commons.site_option('site_title','My Blog')}"></th:block></title>
    <link th:href="@{//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/user/css/base.css}" rel="stylesheet"/>
    <link th:href="@{/user/css/index.css}" rel="stylesheet"/>
    <link th:href="@{/user/css/m.css}" rel="stylesheet"/>
    <link th:href="@{/user/css/main.css}" rel="stylesheet"/>
    <script th:src="@{/user/js/modernizr.js}"></script>
    <script th:src="@{/user/js/jquery.js}"></script>
    <!--[if lt IE 9]>
    <![endif]-->
</head>
<body  gtools_scp_screen_capture_injected="true" th:class="${is_post}?'':'bg-grey'">
<!--[if lt IE 8]>
<div class="browsehappy" role="dialog">
    当前网页 <strong>不支持</strong> 你正在使用的浏览器. 为了正常的访问, 请 <a href="http://browsehappy.com/" target="_blank">升级你的浏览器</a>。
</div>
<![endif]-->
<script>
    // window.onload = function ()
    // {
    //     var oH2 = document.getElementsByTagName("#")[0];
    //     var oUl = document.getElementsByTagName("ul")[0];
    //     oH2.onclick = function ()
    //     {
    //         var style = oUl.style;
    //         style.display = style.display == "block" ? "none" : "block";
    //         oH2.className = style.display == "block" ? "open" : ""
    //     }
    // }
    $(function() {
        $(".menu ul").css({display: "none"}); // Opera Fix
        $(".menu li").hover(function(){
            $(this).find('ul:first').css({visibility: "visible",display: "none"}).slideDown("normal");
        },function(){
            $(this).find('ul:first').css({visibility: "hidden"});
        });
    });
</script>

<header id="header" class="header bg-white">
    <div class="headtop"></div>
    <div class="contenttop">
        <div class="logo f_l">个人博客</div>
        <div class="search f_r">
            <form action="/e/search/index.php" method="post" name="searchform" id="searchform">
                <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text"/>
                <input name="show" value="title" type="hidden"/>
                <input name="tempid" value="1" type="hidden"/>
                <input name="tbname" value="news" type="hidden"/>
                <input name="Submit" class="input_submit" value="搜索" type="submit"/>
            </form>
        </div>
        <div class="blank"></div>
        <nav>
            <div  class="navigation">
                <ul class="menu">
                    <li><a th:href="${commons.site_url('/')}">网站首页</a></li>
                    <li><a th:href="${commons.site_url('/archives')}">我的日志</a>
                        <ul>
                            <li><a th:href="${commons.site_url('/archives')}">时间归档</a></li>
                            <li><a th:href="${commons.site_url('/category')}">分类归档</a></li>
                        </ul>
                    </li>
                    <li><a th:href="${commons.site_url('/links')}">友情链接</a> </li>
                    <li><a th:href="${commons.site_url('/message')}">给我留言</a> </li>
                    <li><a href="#">关于我</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
</body>
</html>