<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/default/header::header(title='首页',keywords=null)"></div>
<body>
<div id="wrapper">
<div class="jztop"></div>
<div class="container">
    <div class="bloglist f_l" >
        <ul th:each="article: ${articles.list} ">
            <li >
                <h3 class="blogtitle"><span><a th:href="${commons.permalink(article)}"  title="css3" class="classname">个人博客</a></span>
                <a th:href="${commons.permalink(article)}" th:text="${article.title}" ></a> </h3>
                <div class="bloginfo">
                    <span class="blogpic">
                    <a th:href="${commons.permalink(article)}" ><img th:src="@{${commons.show_thumb(article)}}"/></a>
                    </span>
                    <p th:if="${#strings.length(article.content)>150}"  th:text="${#strings.abbreviate(article.content,150)}"></p>
                    <p th:unless="${#strings.length(article.content)>150}" th:text="${article.content}"></p>
                </div>
                <div class="autor">
                    <span class="lm f_l"></span>
                    <span class="dtime f_l" th:text="${#dates.format(new java.util.Date(article.created*1000L),'yyyy-MM-dd HH:mm')}"></span>
                    <span class="viewnum f_l" th:text="'浏览量('+${article.hits+')'}"></span>
                    <span class="f_r">
                    <a th:href="${commons.permalink(article)}" class="more">阅读原文&gt;&gt;</a>
                    </span>
                </div>
            </li>
        </ul>
        <div class="lists-navigator clearfix" style="text-align: center">
            <div  th:replace="comm/macros::pageNav(${articles},'←','→','/page/')" ></div>
        </div>
    </div>
    <div class="r_box f_r">
        <div class="tit01">
            <h3 class="tit">关注我</h3>
            <div class="gzwm">
                <ul>
                    <li><a class="email" href="#">电话</a></li>
                    <li><a class="qq" href="#" >邮箱</a></li>
                    <li><a class="tel" href="#" >QQ</a></li>
                    <li><a class="prize" href="#">GitHub</a></li>
                </ul>
            </div>
        </div>
        <!--tit01 end-->

        <div class="tuwen">
            <h3 class="tit">图文推荐</h3>
            <ul th:each="articlesHit: ${articlesHits}">
                <li><i><img class="hitpic" th:src="@{${commons.show_thumb(articlesHit)}}"/></i><a th:href="${commons.permalink(articlesHit)}" th:text="${articlesHit.title}"></a>
                    <p><span th:unless="${#strings.length('【'+articlesHit.title+'】'+articlesHit.content)>30}" th:text="${#strings.abbreviate('【'+articlesHit.title+'】'+articlesHit.content,30)}"></span></p>
                    <p><span th:if="${#strings.length('【'+articlesHit.title+'】'+articlesHit.content)>30}" th:text="${#strings.abbreviate('【'+articlesHit.title+'】'+articlesHit.content,30)}"></span></p>
                </li>
            </ul>
        </div>

        <div> <img th:src="@{user/images/03.jpg}" /> </div>
    </div>
</div>
<div class="jzend"></div>
<div th:replace="themes/default/footer::footer"></div>
</div>
</body>
</html>
