<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/default/header::header(title='小伙伴们的共享链接',keywords=null)"></div>
<body>
<div id="wrapper">
<div class="jztop"></div>
<div class="container">
    <div class="con_content">
        <div class="about_box">
            <h2 class="nh1">
                <span>您现在的位置是：<a href="/" >网站首页</a>>>友情链接</span><b>友情链接</b></h2>
            <ul class="about_content">
                <h3>小伙伴们的友情链接：</h3>
                <div class="linkblogpic"> <img  th:src="@{user/images/test1.jpg}" /> </div>
                <blockquote>
                <ul>
                    <th:block th:each="link : ${links}">
                        <li>🍀 <a th:href="${link.slug}" target="_blank" th:text="${link.name}"></a></li>
                    </th:block>
                </ul>
                </blockquote>
                <h3>链接须知：</h3>
                <blockquote>
                    <ul>
                        <li><p>*如果有需要共享链接的请联系我</p></li>
                        <li><p>*小伙伴们请确定资源共享的链接可以正常访问</p></li>
                        <li><p>*原创链接优先，技术类链接优先</p></li>
                        <li><p>*欢迎提供链接</p></li>
                    </ul>
                </blockquote>
            </ul>

        </div>
    </div>
    <div class="blank"></div>
</div>
<div class="jzend"></div>
<div th:replace="themes/default/footer::footer"></div>
</div>
</body>
</html>