<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="themes/default1/header::header(${article.title},null)"></div>
<body>
<div id="wrapper">
<div class="jztop"></div>
<div class="container">
    <div class="con_content">
        <div class="about_box">
            <h2 class="nh1"><span>您现在的位置是：<a href="/">网站首页</a>>>留言板</span><b>留言板</b></h2>
            <div class="dtxw box">
                <article class="main-content post-page">
                    <div id="post-content" class="post-content" th:utext="${commons.article(article.content)}"></div>
                </article>
                <p><img  th:src="@{/user/images/01.jpg}" /></p>
            </div>
            <div th:replace="themes/default/comments::comments"></div>
        </div>
    </div>
</div>
<!-- container代码 结束 -->
<div th:replace="themes/default1/footer::footer">
</div>
</div>
</body>
</html>