<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<ol class="page-navigator" th:fragment="pageNav(pageInfo, prevText, nextText,url)">
    <th:block th:if="${pageInfo.hasPreviousPage}">
        <li class="prev"><a th:href="@{${url}+${pageInfo.prePage}}" th:text="${prevText}"></a></li>
    </th:block>


    <th:block th:each="navIndex :${ pageInfo.navigatepageNums}">
        <li th:class="${pageInfo.pageNum==navIndex}?'current':''"><a th:href="@{${url}+${navIndex}}"
                                                                     th:text="${navIndex}"></a></li>
    </th:block>


    <th:block th:if="${pageInfo.hasNextPage}">
        <li class="next"><a th:href="@{${url}+${pageInfo.nextPage}}" th:text="${nextText}"></a></li>
    </th:block>

</ol>

<div th:fragment="pageAdminNav(pageInfo)">
    <div class="clearfix">
        <ul class="pagination m-b-5 pull-right">
            <li th:if="${pageInfo.hasPreviousPage}">
                <a th:href="@{${url}+${pageInfo.prePage}}" aria-label="Previous">
                    <i class="fa fa-angle-left"></i>&nbsp;pre page
                </a>
            </li>

            <th:block th:each="nav : ${pageInfo.navigatepageNums}">
                <li th:class="${nav==pageInfo.pageNum}?'active':''"><a th:href="@{'?page='+${nav}}" th:text="${nav}"></a>
                </li>
            </th:block>

            <th:block th:if="${pageInfo.hasNextPage}">
                <li>
                    <a th:href="@{${url}+${pageInfo.nextPage}}" aria-label="Next">
                        next page&nbsp;<i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </th:block>

            <li><span th:text="'total of '+${pageInfo.pages}+' pages'"></span></li>
        </ul>
    </div>
</div>

</body>
</html>